@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav a{
    font-size: 28px;
    color: #9e9e9e;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
a{
    font-family: Roboto;
    text-decoration: none;
}
#active{
    color: white;
}
nav a:hover{
    color: white;
    transition: color 1s;
}
h1 a:hover{
    opacity: 0.5;
    transition: opacity 1s;
}
header{
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(46, 43, 43, 0.4);
}
#top{
    background-image: url('https://cdn.jsdelivr.net/gh/shwin320/YUM-Cafe@a2dbdfc/Assets/Main%20Photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0px;
    z-index: -1;
}
body{
    margin: 0px;
}
h1, h2{
    font-family: Roboto;
    margin: 8px;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 20px;
    color:white;
    text-align: center;
}
.buffer{
    height: 45vh;
}
#menu{
    background-color: white;
}
table{
    margin: 0px auto;
}
td{
    text-align: center;
}
span *{
    display: inline-block;
}