@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav a{
    font-family: Roboto;
    font-size: 28px;
    color: #9e9e9e;
    text-decoration: none;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}
#active{
    color: white;
}
nav a:hover{
    color: white;
    transition: color 1s;
}
header{
    position: absolute;
    top: 0px;
    right: 0px;
}
nav{
    position: relative;
    right: 0px;
    top: 0px;
    display: block;
    width: 100%;
    background: rgba(152, 149, 149, 0.4);
}
#top{
    background-image: url('https://cdn.jsdelivr.net/gh/shwin320/YUM-Cafe@a2dbdfc/Assets/Main%20Photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
body{
    margin: 0px;
}